* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}
h1 {
	font-size: 25px;
	text-transform: capitalize;
	margin: 20px 5px;
}
img {
	width: 100%;
	margin-bottom: 0.8rem;
}
/* with flexbox */
.grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	&-col {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding: 0px 0.4rem;
		&--1,
		&--2,
		&--3,
		&--4 {
			display: none;
		}
	}
}
.content {
	position: absolute;
	margin-top: 0.5rem;
	padding: 0.2rem 0.5rem;
	text-transform: capitalize;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}
/* 2 columns by default, hide columns 2 & 3 */

/* 3 columns at medium size */
@media (min-width: 768px) {
	.grid-col--3 {
		display: block;
	} /* show column 2 */
}

@media (min-width: 480px) {
	.grid-col--2 {
		display: block;
	} /* show column 2 */
}
@media (min-width: 320px) {
	h1 {
		text-align: center;
	}
	.grid-col--1 {
		display: block;
	} /* show column 2 */
}

/* 4 columns at large size */
@media (min-width: 1080px) {
	.grid-col--4 {
		display: block;
	} /* show column 3 */
}
